<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kidskinder.app"
        version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- App Name -->
    <name>Kids Kinder</name>

    <!-- App Description -->
    <description>
        Kids Kinder is a fun learning app for children including animals, fruits, colours, and calendar learning.
    </description>

    <!-- Author -->
    <author email="adityaprakash3497@gmail.com">
        Kids Kinder
    </author>

    <!-- MAIN ENTRY FILE -->
    <content src="index.html" />

    <!-- Allow all navigation -->
    <allow-navigation href="*" />
    <access origin="*" />

    <!-- Android platform settings -->
    <platform name="android">

        <!-- App Icon -->
        <icon src="www/icon.png" density="ldpi" />
        <icon src="www/icon.png" density="mdpi" />
        <icon src="www/icon.png" density="hdpi" />
        <icon src="www/icon.png" density="xhdpi" />
        <icon src="www/icon.png" density="xxhdpi" />
        <icon src="www/icon.png" density="xxxhdpi" />

        <!-- Enable modern Android support -->
        <preference name="AndroidXEnabled" value="true" />
        <preference name="AndroidXAppCompatVersion" value="1.6.1" />

    </platform>

    <!-- General Preferences -->
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />

</widget>
